# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# IDE / Editor
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.tmp

# Exported packages
*.apk
*.aab
*.unitypackage
